<!doctype html>
<html lang="en">
  <head>
    <title>SUSU Home</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="../public/stylesheets/style.css" type="text/css" rel="stylesheet">
  </head>
  <body>
    <header>
        <div id="cover">
            <div id="cover-text">
                <h1>Our 6th <br> Edition is Here</h1>
                <p>
                    This year we’ll be taking a look at the
        new <br>FSC regulations, the state of the movement <br>and much more.
                </p>
            </div>
            <div id =btn-container>
            <button>Read Now</button>
            </div>
        </div>
        <div id="SUSU-ad">
            <img id='logo' src="../../resources/Logo2.png">
            <p id=tagline>Credit Union Magazine</p>
            <hr>
            <p id=value-prop>Keeping you current on the latest news and trends in the movement.
            </p>
        </div>
    </header>
    </body>
</html>