<!doctype html>
<html lang="en">
  <head>
    <title>SUSU Home</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="../public/stylesheets/style.css" type="text/css" rel="stylesheet">
  </head>
  <body>
      <header>
        <div id="cover">
        <h1>Our 6th </h1>
        <h1>Edition is Here</h1>
        <p>
            This year we’ll be taking a look at the
new FSC regulations, the state of the movement and much more.
        </p>
        <button>Read Now</button>
        </div>
        <div id="SUSU-ad">
            <img src="../../resources/Logo.png">
            <span>Credit Union Magazine</span>
        </div>
      </header> 
    </body>
</html>