#icon-container {
    width: 30.7%;
    background-color:#C6AADC;
    height: 36rem;
    opacity: 80%;
    margin-right: 0.3%;
    float: left;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  #icon1 {
    width: 50%;
    max-width: 15rem;
  }
  
  #description-title {
    padding-top: 5rem;
    padding-left: 5rem;
  }
  
  #description-container {
    height: 36rem;
    width: 69%;
    background-color: #AADCB5;
    overflow: auto;
  }