#cover {
    height: 100vh;
    width: 100%;
    overflow: hidden;
    position: relative;
  }
  
  .cover-img {
    height: 100%;
    width: 100%;
    min-width: 30rem;
    position: absolute;
    filter:contrast(103%);
  }
  
  .cover-content-container {
    width: 100%;
    height: 100%;
    position: relative;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  #cover-text {
    position: relative;
  }
  
  #btn-container {
    position: relative;
    padding-top: 2rem;
    width: 40%;
  }
  
  button {
    background: none;
    border: 0.1rem solid #C6AADC;
    border-radius: 5%;
    color: white;
    padding:0.3rem 1.3rem;
    font-size: 1rem;
  }
  
  button:hover {
    background-color: #C6AADC;
    opacity: 0.95;
  }
  

/*Small Mobile Landscape*/
@media only screen and (max-width: 768px) and (orientation: landscape) {
  .cover-img {
    width: 100%;
  }
}

@media only screen and (min-width: 1024px) {
  #cover {
    width: 69%;
    overflow: auto;
    float: left;
    margin-right: 0.3%;
  }

  .cover-img {
    width: 100%;
  }
}


/*
@media only screen and (min-width: 1000px){
  #cover {
    height: 36rem;
    width: 69%;
    overflow: auto;
    float: left;
    margin-right: 0.3%;
  }

  .cover-img {
    width: 100%;
  }
}
*/